In [1]:
import numpy as np
import pandas as pd

In [3]:
import tensorflow as tf
print(tf.__version__)

2.3.0

In [2]:
train_df = pd.read_csv(r'C:\Users\adity\ML Practice folder\dataSets\titanic\train.csv')
test_df = pd.read_csv(r'C:\Users\adity\ML Practice folder\dataSets\titanic\test.csv')

In [6]:
X = train_df.copy()
y = train_df['Survived']
X.pop('Survived')

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [11]:
X = X.drop(columns = ['Name','Ticket','Cabin'])

In [14]:
X = pd.get_dummies(X,columns=['Sex'])

In [15]:
X

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Embarked,Sex_female,Sex_male
0,1,3,22.0,1,0,7.2500,S,0,1
1,2,1,38.0,1,0,71.2833,C,1,0
2,3,3,26.0,0,0,7.9250,S,1,0
3,4,1,35.0,1,0,53.1000,S,1,0
4,5,3,35.0,0,0,8.0500,S,0,1
...,...,...,...,...,...,...,...,...,...
886,887,2,27.0,0,0,13.0000,S,0,1
887,888,1,19.0,0,0,30.0000,S,1,0
888,889,3,NaN,1,2,23.4500,S,1,0
889,890,1,26.0,0,0,30.0000,C,0,1
890,891,3,32.0,0,0,7.7500,Q,0,1

In [36]:
X.pop('PassengerId')
X

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,22.00000,1,0,7.2500,0,1,0,0,1
1,1,38.00000,1,0,71.2833,1,0,1,0,0
2,3,26.00000,0,0,7.9250,1,0,0,0,1
3,1,35.00000,1,0,53.1000,1,0,0,0,1
4,3,35.00000,0,0,8.0500,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...
886,2,27.00000,0,0,13.0000,0,1,0,0,1
887,1,19.00000,0,0,30.0000,1,0,0,0,1
888,3,30.27259,1,2,23.4500,1,0,0,0,1
889,1,26.00000,0,0,30.0000,0,1,1,0,0
890,3,32.00000,0,0,7.7500,0,1,0,1,0

In [20]:
X['Age'] = X['Age'].fillna(30.272590)
X['Embarked'] = X['Embarked'].fillna('C')

In [25]:
X = pd.get_dummies(X,columns=['Embarked'])

In [37]:
X

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,22.00000,1,0,7.2500,0,1,0,0,1
1,1,38.00000,1,0,71.2833,1,0,1,0,0
2,3,26.00000,0,0,7.9250,1,0,0,0,1
3,1,35.00000,1,0,53.1000,1,0,0,0,1
4,3,35.00000,0,0,8.0500,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...
886,2,27.00000,0,0,13.0000,0,1,0,0,1
887,1,19.00000,0,0,30.0000,1,0,0,0,1
888,3,30.27259,1,2,23.4500,1,0,0,0,1
889,1,26.00000,0,0,30.0000,0,1,1,0,0
890,3,32.00000,0,0,7.7500,0,1,0,1,0

In [38]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [155]:
continuous = ['Age', 'Fare', 'Parch', 'Pclass', 'SibSp']
for var in continuous:
    X[var] = X[var].astype('float64')
    X[var] = scaler.fit_transform(X[var].values.reshape(-1, 1))

In [189]:
model  = tf.keras.models.Sequential([
    tf.keras.layers.Dense(12,input_dim=10,activation='linear'),
    #tf.keras.layers.Dropout(0.5),
    tf.keras.layers.Dense(12,activation='linear'),
    tf.keras.layers.Dense(1,activation='sigmoid')
    
])

In [190]:
print(model.summary())

Model: "sequential_31"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_85 (Dense)             (None, 12)                132
_________________________________________________________________
dense_86 (Dense)             (None, 12)                156
_________________________________________________________________
dense_87 (Dense)             (None, 1)                 13
=================================================================
Total params: 301
Trainable params: 301
Non-trainable params: 0
_________________________________________________________________
None

In [191]:
model.compile(optimizer='sgd',
            loss='binary_crossentropy',
             metrics=['accuracy'])

In [192]:
model.fit(X, y,validation_split=0.2, epochs=100, batch_size=30)

Epoch 1/100

 1/24 [>.............................] - ETA: 0s - loss: 0.5999 - accuracy: 0.6667
24/24 [==============================] - 0s 4ms/step - loss: 0.5451 - accuracy: 0.7472 - val_loss: 0.4939 - val_accuracy: 0.7933
Epoch 2/100

 1/24 [>.............................] - ETA: 0s - loss: 0.5861 - accuracy: 0.7667
24/24 [==============================] - 0s 1ms/step - loss: 0.5220 - accuracy: 0.7711 - val_loss: 0.4695 - val_accuracy: 0.8101
Epoch 3/100

 1/24 [>.............................] - ETA: 0s - loss: 0.5302 - accuracy: 0.8000
24/24 [==============================] - 0s 855us/step - loss: 0.5068 - accuracy: 0.7795 - val_loss: 0.4521 - val_accuracy: 0.8380
Epoch 4/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4261 - accuracy: 0.8667
24/24 [==============================] - 0s 917us/step - loss: 0.4959 - accuracy: 0.7823 - val_loss: 0.4395 - val_accuracy: 0.8492
Epoch 5/100

 1/24 [>.............................] - ETA: 0s - loss: 0.5084 - accuracy: 0.7667
24/24 [==============================] - 0s 1ms/step - loss: 0.4878 - accuracy: 0.7935 - val_loss: 0.4302 - val_accuracy: 0.8380
Epoch 6/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4167 - accuracy: 0.8667
24/24 [==============================] - 0s 955us/step - loss: 0.4811 - accuracy: 0.7879 - val_loss: 0.4228 - val_accuracy: 0.8380
Epoch 7/100

 1/24 [>.............................] - ETA: 0s - loss: 0.6209 - accuracy: 0.7333
24/24 [==============================] - 0s 983us/step - loss: 0.4764 - accuracy: 0.7907 - val_loss: 0.4173 - val_accuracy: 0.8436
Epoch 8/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4173 - accuracy: 0.8333
24/24 [==============================] - 0s 964us/step - loss: 0.4726 - accuracy: 0.7907 - val_loss: 0.4132 - val_accuracy: 0.8492
Epoch 9/100

 1/24 [>.............................] - ETA: 0s - loss: 0.5851 - accuracy: 0.7333
24/24 [==============================] - 0s 990us/step - loss: 0.4695 - accuracy: 0.7907 - val_loss: 0.4097 - val_accuracy: 0.8380
Epoch 10/100

 1/24 [>.............................] - ETA: 0s - loss: 0.6850 - accuracy: 0.7333
24/24 [==============================] - 0s 955us/step - loss: 0.4668 - accuracy: 0.7949 - val_loss: 0.4072 - val_accuracy: 0.8324
Epoch 11/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4860 - accuracy: 0.7667
24/24 [==============================] - 0s 983us/step - loss: 0.4651 - accuracy: 0.7921 - val_loss: 0.4055 - val_accuracy: 0.8380
Epoch 12/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4626 - accuracy: 0.7667
24/24 [==============================] - 0s 967us/step - loss: 0.4633 - accuracy: 0.7907 - val_loss: 0.4037 - val_accuracy: 0.8324
Epoch 13/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4086 - accuracy: 0.8333
24/24 [==============================] - 0s 861us/step - loss: 0.4619 - accuracy: 0.7992 - val_loss: 0.4025 - val_accuracy: 0.8324
Epoch 14/100

 1/24 [>.............................] - ETA: 0s - loss: 0.5266 - accuracy: 0.7333
24/24 [==============================] - 0s 871us/step - loss: 0.4610 - accuracy: 0.7921 - val_loss: 0.4017 - val_accuracy: 0.8324
Epoch 15/100

 1/24 [>.............................] - ETA: 0s - loss: 0.5451 - accuracy: 0.7667
24/24 [==============================] - 0s 1ms/step - loss: 0.4599 - accuracy: 0.7907 - val_loss: 0.4012 - val_accuracy: 0.8324
Epoch 16/100

 1/24 [>.............................] - ETA: 0s - loss: 0.3778 - accuracy: 0.8333
24/24 [==============================] - 0s 841us/step - loss: 0.4591 - accuracy: 0.7921 - val_loss: 0.4002 - val_accuracy: 0.8324
Epoch 17/100

 1/24 [>.............................] - ETA: 0s - loss: 0.3493 - accuracy: 0.8333
24/24 [==============================] - 0s 944us/step - loss: 0.4584 - accuracy: 0.7921 - val_loss: 0.3997 - val_accuracy: 0.8268
Epoch 18/100

 1/24 [>.............................] - ETA: 0s - loss: 0.5014 - accuracy: 0.7667
24/24 [==============================] - 0s 872us/step - loss: 0.4580 - accuracy: 0.7893 - val_loss: 0.3992 - val_accuracy: 0.8324
Epoch 19/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4321 - accuracy: 0.8667
24/24 [==============================] - 0s 797us/step - loss: 0.4574 - accuracy: 0.7907 - val_loss: 0.3998 - val_accuracy: 0.8212
Epoch 20/100

 1/24 [>.............................] - ETA: 0s - loss: 0.3666 - accuracy: 0.8333
24/24 [==============================] - 0s 872us/step - loss: 0.4573 - accuracy: 0.7851 - val_loss: 0.3996 - val_accuracy: 0.8212
Epoch 21/100

 1/24 [>.............................] - ETA: 0s - loss: 0.3889 - accuracy: 0.8667
24/24 [==============================] - 0s 831us/step - loss: 0.4569 - accuracy: 0.7879 - val_loss: 0.3994 - val_accuracy: 0.8212
Epoch 22/100

 1/24 [>.............................] - ETA: 0s - loss: 0.3563 - accuracy: 0.8333
24/24 [==============================] - 0s 914us/step - loss: 0.4567 - accuracy: 0.7879 - val_loss: 0.3991 - val_accuracy: 0.8268
Epoch 23/100

 1/24 [>.............................] - ETA: 0s - loss: 0.3980 - accuracy: 0.8333
24/24 [==============================] - 0s 959us/step - loss: 0.4565 - accuracy: 0.7935 - val_loss: 0.3983 - val_accuracy: 0.8324
Epoch 24/100

 1/24 [>.............................] - ETA: 0s - loss: 0.6082 - accuracy: 0.7667
24/24 [==============================] - 0s 831us/step - loss: 0.4559 - accuracy: 0.7963 - val_loss: 0.3986 - val_accuracy: 0.8268
Epoch 25/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4087 - accuracy: 0.8000
24/24 [==============================] - 0s 748us/step - loss: 0.4561 - accuracy: 0.7893 - val_loss: 0.3984 - val_accuracy: 0.8268
Epoch 26/100

 1/24 [>.............................] - ETA: 0s - loss: 0.3192 - accuracy: 0.9000
24/24 [==============================] - 0s 808us/step - loss: 0.4558 - accuracy: 0.7907 - val_loss: 0.3987 - val_accuracy: 0.8268
Epoch 27/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4520 - accuracy: 0.7667
24/24 [==============================] - 0s 831us/step - loss: 0.4556 - accuracy: 0.7893 - val_loss: 0.3988 - val_accuracy: 0.8380
Epoch 28/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4517 - accuracy: 0.8000
24/24 [==============================] - 0s 789us/step - loss: 0.4554 - accuracy: 0.7978 - val_loss: 0.3986 - val_accuracy: 0.8268
Epoch 29/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4586 - accuracy: 0.7333
24/24 [==============================] - 0s 747us/step - loss: 0.4555 - accuracy: 0.7893 - val_loss: 0.3986 - val_accuracy: 0.8380
Epoch 30/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4760 - accuracy: 0.8000
24/24 [==============================] - 0s 941us/step - loss: 0.4551 - accuracy: 0.7879 - val_loss: 0.3984 - val_accuracy: 0.8324
Epoch 31/100

 1/24 [>.............................] - ETA: 0s - loss: 0.5183 - accuracy: 0.7333
24/24 [==============================] - 0s 831us/step - loss: 0.4550 - accuracy: 0.7935 - val_loss: 0.3983 - val_accuracy: 0.8380
Epoch 32/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4781 - accuracy: 0.7667
24/24 [==============================] - 0s 865us/step - loss: 0.4549 - accuracy: 0.7935 - val_loss: 0.3984 - val_accuracy: 0.8380
Epoch 33/100

 1/24 [>.............................] - ETA: 0s - loss: 0.5478 - accuracy: 0.7000
24/24 [==============================] - 0s 914us/step - loss: 0.4550 - accuracy: 0.7879 - val_loss: 0.3983 - val_accuracy: 0.8380
Epoch 34/100

 1/24 [>.............................] - ETA: 0s - loss: 0.3461 - accuracy: 0.8667
24/24 [==============================] - 0s 875us/step - loss: 0.4551 - accuracy: 0.7907 - val_loss: 0.3983 - val_accuracy: 0.8324
Epoch 35/100

 1/24 [>.............................] - ETA: 0s - loss: 0.5079 - accuracy: 0.7667
24/24 [==============================] - 0s 774us/step - loss: 0.4548 - accuracy: 0.7893 - val_loss: 0.3980 - val_accuracy: 0.8324
Epoch 36/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4183 - accuracy: 0.8000
24/24 [==============================] - 0s 831us/step - loss: 0.4546 - accuracy: 0.7963 - val_loss: 0.3982 - val_accuracy: 0.8380

Epoch 37/100

 1/24 [>.............................] - ETA: 0s - loss: 0.5698 - accuracy: 0.7667
24/24 [==============================] - 0s 830us/step - loss: 0.4547 - accuracy: 0.7907 - val_loss: 0.3980 - val_accuracy: 0.8380
Epoch 38/100

 1/24 [>.............................] - ETA: 0s - loss: 0.5038 - accuracy: 0.7333
24/24 [==============================] - 0s 747us/step - loss: 0.4544 - accuracy: 0.7865 - val_loss: 0.3976 - val_accuracy: 0.8324
Epoch 39/100

 1/24 [>.............................] - ETA: 0s - loss: 0.5174 - accuracy: 0.7667
24/24 [==============================] - 0s 831us/step - loss: 0.4545 - accuracy: 0.7935 - val_loss: 0.3973 - val_accuracy: 0.8324
Epoch 40/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4830 - accuracy: 0.7667
24/24 [==============================] - 0s 830us/step - loss: 0.4547 - accuracy: 0.8020 - val_loss: 0.3973 - val_accuracy: 0.8268
Epoch 41/100

 1/24 [>.............................] - ETA: 0s - loss: 0.3452 - accuracy: 0.8333
24/24 [==============================] - 0s 831us/step - loss: 0.4545 - accuracy: 0.7879 - val_loss: 0.3975 - val_accuracy: 0.8324
Epoch 42/100

 1/24 [>.............................] - ETA: 0s - loss: 0.3067 - accuracy: 0.8333
24/24 [==============================] - 0s 789us/step - loss: 0.4546 - accuracy: 0.7907 - val_loss: 0.3970 - val_accuracy: 0.8324
Epoch 43/100

 1/24 [>.............................] - ETA: 0s - loss: 0.5065 - accuracy: 0.8667
24/24 [==============================] - 0s 747us/step - loss: 0.4545 - accuracy: 0.7963 - val_loss: 0.3975 - val_accuracy: 0.8324
Epoch 44/100

 1/24 [>.............................] - ETA: 0s - loss: 0.5961 - accuracy: 0.7667
24/24 [==============================] - 0s 789us/step - loss: 0.4544 - accuracy: 0.7978 - val_loss: 0.3973 - val_accuracy: 0.8268
Epoch 45/100

 1/24 [>.............................] - ETA: 0s - loss: 0.3841 - accuracy: 0.8667
24/24 [==============================] - 0s 747us/step - loss: 0.4543 - accuracy: 0.7935 - val_loss: 0.3974 - val_accuracy: 0.8268
Epoch 46/100

 1/24 [>.............................] - ETA: 0s - loss: 0.5880 - accuracy: 0.7333
24/24 [==============================] - 0s 789us/step - loss: 0.4541 - accuracy: 0.7992 - val_loss: 0.3973 - val_accuracy: 0.8268
Epoch 47/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4552 - accuracy: 0.7667
24/24 [==============================] - 0s 789us/step - loss: 0.4543 - accuracy: 0.7907 - val_loss: 0.3976 - val_accuracy: 0.8268
Epoch 48/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4623 - accuracy: 0.8000
24/24 [==============================] - 0s 831us/step - loss: 0.4541 - accuracy: 0.7893 - val_loss: 0.3973 - val_accuracy: 0.8268
Epoch 49/100

 1/24 [>.............................] - ETA: 0s - loss: 0.3948 - accuracy: 0.9000
24/24 [==============================] - 0s 748us/step - loss: 0.4541 - accuracy: 0.7935 - val_loss: 0.3972 - val_accuracy: 0.8268
Epoch 50/100

 1/24 [>.............................] - ETA: 0s - loss: 0.5015 - accuracy: 0.7333
24/24 [==============================] - 0s 748us/step - loss: 0.4544 - accuracy: 0.7851 - val_loss: 0.3971 - val_accuracy: 0.8324
Epoch 51/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4365 - accuracy: 0.7333
24/24 [==============================] - 0s 780us/step - loss: 0.4546 - accuracy: 0.7921 - val_loss: 0.3969 - val_accuracy: 0.8324
Epoch 52/100

 1/24 [>.............................] - ETA: 0s - loss: 0.3355 - accuracy: 0.8333
24/24 [==============================] - 0s 789us/step - loss: 0.4543 - accuracy: 0.7907 - val_loss: 0.3970 - val_accuracy: 0.8324
Epoch 53/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4346 - accuracy: 0.7667
24/24 [==============================] - 0s 809us/step - loss: 0.4544 - accuracy: 0.7907 - val_loss: 0.3968 - val_accuracy: 0.8324
Epoch 54/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4368 - accuracy: 0.8333
24/24 [==============================] - 0s 789us/step - loss: 0.4543 - accuracy: 0.7935 - val_loss: 0.3967 - val_accuracy: 0.8324
Epoch 55/100

 1/24 [>.............................] - ETA: 0s - loss: 0.3352 - accuracy: 0.8333
24/24 [==============================] - 0s 790us/step - loss: 0.4541 - accuracy: 0.7949 - val_loss: 0.3969 - val_accuracy: 0.8268
Epoch 56/100

 1/24 [>.............................] - ETA: 0s - loss: 0.3546 - accuracy: 0.8000
24/24 [==============================] - 0s 775us/step - loss: 0.4540 - accuracy: 0.7893 - val_loss: 0.3965 - val_accuracy: 0.8324
Epoch 57/100

 1/24 [>.............................] - ETA: 0s - loss: 0.5399 - accuracy: 0.7333
24/24 [==============================] - 0s 789us/step - loss: 0.4542 - accuracy: 0.7907 - val_loss: 0.3965 - val_accuracy: 0.8380
Epoch 58/100

 1/24 [>.............................] - ETA: 0s - loss: 0.5302 - accuracy: 0.6667
24/24 [==============================] - 0s 870us/step - loss: 0.4541 - accuracy: 0.7978 - val_loss: 0.3967 - val_accuracy: 0.8268
Epoch 59/100

 1/24 [>.............................] - ETA: 0s - loss: 0.3922 - accuracy: 0.7333
24/24 [==============================] - 0s 792us/step - loss: 0.4543 - accuracy: 0.7921 - val_loss: 0.3967 - val_accuracy: 0.8268
Epoch 60/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4040 - accuracy: 0.8333
24/24 [==============================] - 0s 789us/step - loss: 0.4540 - accuracy: 0.7949 - val_loss: 0.3967 - val_accuracy: 0.8268
Epoch 61/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4406 - accuracy: 0.8000
24/24 [==============================] - 0s 864us/step - loss: 0.4541 - accuracy: 0.7893 - val_loss: 0.3963 - val_accuracy: 0.8268
Epoch 62/100

 1/24 [>.............................] - ETA: 0s - loss: 0.6980 - accuracy: 0.6667
24/24 [==============================] - 0s 824us/step - loss: 0.4543 - accuracy: 0.7963 - val_loss: 0.3964 - val_accuracy: 0.8268
Epoch 63/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4092 - accuracy: 0.8667
24/24 [==============================] - 0s 789us/step - loss: 0.4538 - accuracy: 0.7963 - val_loss: 0.3963 - val_accuracy: 0.8268
Epoch 64/100

 1/24 [>.............................] - ETA: 0s - loss: 0.3824 - accuracy: 0.8333
24/24 [==============================] - 0s 789us/step - loss: 0.4540 - accuracy: 0.7949 - val_loss: 0.3964 - val_accuracy: 0.8268
Epoch 65/100

 1/24 [>.............................] - ETA: 0s - loss: 0.6628 - accuracy: 0.6667
24/24 [==============================] - 0s 789us/step - loss: 0.4542 - accuracy: 0.7879 - val_loss: 0.3963 - val_accuracy: 0.8268
Epoch 66/100

 1/24 [>.............................] - ETA: 0s - loss: 0.5823 - accuracy: 0.6667
24/24 [==============================] - 0s 861us/step - loss: 0.4539 - accuracy: 0.7949 - val_loss: 0.3965 - val_accuracy: 0.8324
Epoch 67/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4977 - accuracy: 0.8000
24/24 [==============================] - 0s 789us/step - loss: 0.4540 - accuracy: 0.7949 - val_loss: 0.3962 - val_accuracy: 0.8324
Epoch 68/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4103 - accuracy: 0.8333
24/24 [==============================] - 0s 747us/step - loss: 0.4539 - accuracy: 0.7949 - val_loss: 0.3963 - val_accuracy: 0.8380
Epoch 69/100

 1/24 [>.............................] - ETA: 0s - loss: 0.6215 - accuracy: 0.6667
24/24 [==============================] - 0s 789us/step - loss: 0.4541 - accuracy: 0.7921 - val_loss: 0.3961 - val_accuracy: 0.8380
Epoch 70/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4387 - accuracy: 0.8000
24/24 [==============================] - 0s 870us/step - loss: 0.4541 - accuracy: 0.7949 - val_loss: 0.3962 - val_accuracy: 0.8324
Epoch 71/100

 1/24 [>.............................] - ETA: 0s - loss: 0.6000 - accuracy: 0.7333
24/24 [==============================] - 0s 880us/step - loss: 0.4539 - accuracy: 0.7921 - val_loss: 0.3962 - val_accuracy: 0.8380
Epoch 72/100

 1/24 [>.............................] - ETA: 0s - loss: 0.5762 - accuracy: 0.7667
24/24 [==============================] - 0s 872us/step - loss: 0.4538 - accuracy: 0.7935 - val_loss: 0.3964 - val_accuracy: 0.8380

Epoch 73/100

 1/24 [>.............................] - ETA: 0s - loss: 0.3973 - accuracy: 0.9000
24/24 [==============================] - 0s 872us/step - loss: 0.4538 - accuracy: 0.7992 - val_loss: 0.3964 - val_accuracy: 0.8380
Epoch 74/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4020 - accuracy: 0.8333
24/24 [==============================] - 0s 892us/step - loss: 0.4540 - accuracy: 0.7949 - val_loss: 0.3964 - val_accuracy: 0.8324
Epoch 75/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4108 - accuracy: 0.8000
24/24 [==============================] - 0s 789us/step - loss: 0.4537 - accuracy: 0.7963 - val_loss: 0.3964 - val_accuracy: 0.8380
Epoch 76/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4504 - accuracy: 0.8000
24/24 [==============================] - 0s 789us/step - loss: 0.4539 - accuracy: 0.7935 - val_loss: 0.3964 - val_accuracy: 0.8324
Epoch 77/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4184 - accuracy: 0.8000
24/24 [==============================] - 0s 807us/step - loss: 0.4540 - accuracy: 0.7935 - val_loss: 0.3961 - val_accuracy: 0.8380
Epoch 78/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4992 - accuracy: 0.7000
24/24 [==============================] - 0s 747us/step - loss: 0.4539 - accuracy: 0.7963 - val_loss: 0.3963 - val_accuracy: 0.8380
Epoch 79/100

 1/24 [>.............................] - ETA: 0s - loss: 0.6092 - accuracy: 0.6333
24/24 [==============================] - 0s 806us/step - loss: 0.4539 - accuracy: 0.7963 - val_loss: 0.3959 - val_accuracy: 0.8380
Epoch 80/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4467 - accuracy: 0.7333
24/24 [==============================] - 0s 789us/step - loss: 0.4540 - accuracy: 0.7949 - val_loss: 0.3958 - val_accuracy: 0.8380
Epoch 81/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4503 - accuracy: 0.7333
24/24 [==============================] - 0s 872us/step - loss: 0.4539 - accuracy: 0.7949 - val_loss: 0.3958 - val_accuracy: 0.8380
Epoch 82/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4149 - accuracy: 0.8000
24/24 [==============================] - 0s 866us/step - loss: 0.4539 - accuracy: 0.7935 - val_loss: 0.3958 - val_accuracy: 0.8380
Epoch 83/100

 1/24 [>.............................] - ETA: 0s - loss: 0.5843 - accuracy: 0.7667
24/24 [==============================] - 0s 789us/step - loss: 0.4539 - accuracy: 0.7949 - val_loss: 0.3960 - val_accuracy: 0.8380
Epoch 84/100

 1/24 [>.............................] - ETA: 0s - loss: 0.3659 - accuracy: 0.8667
24/24 [==============================] - 0s 756us/step - loss: 0.4542 - accuracy: 0.7921 - val_loss: 0.3964 - val_accuracy: 0.8324
Epoch 85/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4596 - accuracy: 0.8333
24/24 [==============================] - 0s 789us/step - loss: 0.4537 - accuracy: 0.7963 - val_loss: 0.3964 - val_accuracy: 0.8324
Epoch 86/100

 1/24 [>.............................] - ETA: 0s - loss: 0.6822 - accuracy: 0.7000
24/24 [==============================] - 0s 748us/step - loss: 0.4538 - accuracy: 0.7935 - val_loss: 0.3964 - val_accuracy: 0.8380
Epoch 87/100

 1/24 [>.............................] - ETA: 0s - loss: 0.3796 - accuracy: 0.8000
24/24 [==============================] - 0s 749us/step - loss: 0.4540 - accuracy: 0.7935 - val_loss: 0.3958 - val_accuracy: 0.8324
Epoch 88/100

 1/24 [>.............................] - ETA: 0s - loss: 0.5475 - accuracy: 0.7333
24/24 [==============================] - 0s 797us/step - loss: 0.4538 - accuracy: 0.7963 - val_loss: 0.3954 - val_accuracy: 0.8324
Epoch 89/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4321 - accuracy: 0.8000
24/24 [==============================] - 0s 786us/step - loss: 0.4538 - accuracy: 0.7935 - val_loss: 0.3959 - val_accuracy: 0.8324
Epoch 90/100

 1/24 [>.............................] - ETA: 0s - loss: 0.3821 - accuracy: 0.9000
24/24 [==============================] - 0s 837us/step - loss: 0.4540 - accuracy: 0.7963 - val_loss: 0.3961 - val_accuracy: 0.8380
Epoch 91/100

 1/24 [>.............................] - ETA: 0s - loss: 0.5495 - accuracy: 0.7667
24/24 [==============================] - 0s 748us/step - loss: 0.4538 - accuracy: 0.7921 - val_loss: 0.3959 - val_accuracy: 0.8324
Epoch 92/100

 1/24 [>.............................] - ETA: 0s - loss: 0.5757 - accuracy: 0.7333
24/24 [==============================] - 0s 789us/step - loss: 0.4538 - accuracy: 0.7949 - val_loss: 0.3957 - val_accuracy: 0.8324
Epoch 93/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4439 - accuracy: 0.8000
24/24 [==============================] - 0s 789us/step - loss: 0.4541 - accuracy: 0.7963 - val_loss: 0.3959 - val_accuracy: 0.8324
Epoch 94/100

 1/24 [>.............................] - ETA: 0s - loss: 0.6452 - accuracy: 0.7000
24/24 [==============================] - 0s 831us/step - loss: 0.4540 - accuracy: 0.7935 - val_loss: 0.3956 - val_accuracy: 0.8324
Epoch 95/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4395 - accuracy: 0.8667
24/24 [==============================] - 0s 1ms/step - loss: 0.4537 - accuracy: 0.7963 - val_loss: 0.3960 - val_accuracy: 0.8324
Epoch 96/100

 1/24 [>.............................] - ETA: 0s - loss: 0.3948 - accuracy: 0.8333
24/24 [==============================] - 0s 789us/step - loss: 0.4539 - accuracy: 0.7921 - val_loss: 0.3967 - val_accuracy: 0.8268
Epoch 97/100

 1/24 [>.............................] - ETA: 0s - loss: 0.6077 - accuracy: 0.7000
24/24 [==============================] - 0s 784us/step - loss: 0.4537 - accuracy: 0.7907 - val_loss: 0.3964 - val_accuracy: 0.8324
Epoch 98/100

 1/24 [>.............................] - ETA: 0s - loss: 0.3494 - accuracy: 0.8000
24/24 [==============================] - 0s 748us/step - loss: 0.4540 - accuracy: 0.7963 - val_loss: 0.3961 - val_accuracy: 0.8324
Epoch 99/100

 1/24 [>.............................] - ETA: 0s - loss: 0.3133 - accuracy: 0.8333
24/24 [==============================] - 0s 829us/step - loss: 0.4538 - accuracy: 0.7978 - val_loss: 0.3959 - val_accuracy: 0.8324
Epoch 100/100

 1/24 [>.............................] - ETA: 0s - loss: 0.4882 - accuracy: 0.8000
24/24 [==============================] - 0s 771us/step - loss: 0.4539 - accuracy: 0.7963 - val_loss: 0.3957 - val_accuracy: 0.8324

In [46]:
test_df = pd.get_dummies(test_df,columns=['Sex','Embarked'])

In [156]:
X

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,0.827377,-0.601154,0.432793,-0.473674,-0.502445,0,1,0,0,1
1,-1.566107,0.629925,0.432793,-0.473674,0.786845,1,0,1,0,0
2,0.827377,-0.293385,-0.474545,-0.473674,-0.488854,1,0,0,0,1
3,-1.566107,0.399097,0.432793,-0.473674,0.420730,1,0,0,0,1
4,0.827377,0.399097,-0.474545,-0.473674,-0.486337,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...
886,-0.369365,-0.216442,-0.474545,-0.473674,-0.386671,0,1,0,0,1
887,-1.566107,-0.831981,-0.474545,-0.473674,-0.044381,1,0,0,0,1
888,0.827377,0.035359,0.432793,2.008933,-0.176263,1,0,0,0,1
889,-1.566107,-0.293385,-0.474545,-0.473674,-0.044381,0,1,1,0,0
890,0.827377,0.168270,-0.474545,-0.473674,-0.492378,0,1,0,1,0

In [49]:
test_df = test_df.drop(columns=['Name','Ticket','Cabin'])

In [51]:
test_ids = test_df['PassengerId']

In [168]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      418 non-null    float64
 1   Age         418 non-null    float64
 2   SibSp       418 non-null    float64
 3   Parch       418 non-null    float64
 4   Fare        418 non-null    float64
 5   Sex_female  418 non-null    uint8
 6   Sex_male    418 non-null    uint8
 7   Embarked_C  418 non-null    uint8
 8   Embarked_Q  418 non-null    uint8
 9   Embarked_S  418 non-null    uint8
dtypes: float64(5), uint8(5)
memory usage: 18.5 KB

In [55]:
test_df.describe()

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
count,418.000000,332.000000,418.000000,418.000000,417.000000,418.000000,418.000000,418.000000,418.000000,418.000000
mean,2.265550,30.272590,0.447368,0.392344,35.627188,0.363636,0.636364,0.244019,0.110048,0.645933
std,0.841838,14.181209,0.896760,0.981429,55.907576,0.481622,0.481622,0.430019,0.313324,0.478803
min,1.000000,0.170000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,21.000000,0.000000,0.000000,7.895800,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000,27.000000,0.000000,0.000000,14.454200,0.000000,1.000000,0.000000,0.000000,1.000000
75%,3.000000,39.000000,1.000000,0.000000,31.500000,1.000000,1.000000,0.000000,0.000000,1.000000
max,3.000000,76.000000,8.000000,9.000000,512.329200,1.000000,1.000000,1.000000,1.000000,1.000000

In [56]:
test_df['Age'] = test_df['Age'].fillna(30.272590)

In [59]:
test_df['Fare'] = test_df['Fare'].fillna(35.627188)

In [164]:
for var in continuous:
    test_df[var] = test_df[var].astype('float64')
    test_df[var] = scaler.fit_transform(test_df[var].values.reshape(-1, 1))

In [193]:
test_predict = model.predict(test_df)

In [202]:
a = np.column_stack([test_ids.astype(np.int32),test_df['Survived']])
df_csv = pd.DataFrame(a,columns=['PassengerId','Survived'])
df_csv["PassengerId"] = df_csv["PassengerId"].astype(int)
df_csv.to_csv('mytitanic_new.csv',index=False)

In [200]:
test_df['Survived'] = test_df['Survived'].apply(lambda x: round(x,0)).astype('int')

In [198]:
test_df['Survived'] = test_predict

In [204]:
test_predict

array([[0.12362939],
       [0.36850068],
       [0.13677096],
       [0.10212597],
       [0.5562368 ],
       [0.15278074],
       [0.70693177],
       [0.18240917],
       [0.7649995 ],
       [0.06744272],
       [0.09195137],
       [0.34040195],
       [0.92524254],
       [0.06361398],
       [0.8400543 ],
       [0.84928983],
       [0.29220176],
       [0.16719341],
       [0.5424949 ],
       [0.55563635],
       [0.2790754 ],
       [0.15966287],
       [0.92938364],
       [0.6150462 ],
       [0.84206474],
       [0.03481671],
       [0.95742375],
       [0.15992227],
       [0.38156945],
       [0.06913647],
       [0.09721968],
       [0.1623882 ],
       [0.42938885],
       [0.4534396 ],
       [0.48409685],
       [0.17989564],
       [0.5961947 ],
       [0.6722605 ],
       [0.10883635],
       [0.09324303],
       [0.08591032],
       [0.4740265 ],
       [0.06475446],
       [0.8162185 ],
       [0.8490001 ],
       [0.10878804],
       [0.43317863],
       [0.1407933 ],
       [0.86919993],
       [0.485764  ],
       [0.44860753],
       [0.3261323 ],
       [0.7417462 ],
       [0.8144701 ],
       [0.3012125 ],
       [0.07260758],
       [0.07888699],
       [0.10877961],
       [0.06769678],
       [0.94285214],
       [0.13947114],
       [0.22107625],
       [0.13526672],
       [0.7620697 ],
       [0.5055606 ],
       [0.8151467 ],
       [0.78681946],
       [0.3336431 ],
       [0.55647427],
       [0.68342584],
       [0.7489824 ],
       [0.12331131],
       [0.60699356],
       [0.5781542 ],
       [0.9438856 ],
       [0.55763835],
       [0.09195545],
       [0.73667   ],
       [0.23349354],
       [0.7489824 ],
       [0.1780257 ],
       [0.1572356 ],
       [0.31695163],
       [0.09195137],
       [0.32789835],
       [0.09388131],
       [0.72847927],
       [0.6952005 ],
       [0.70493436],
       [0.34265053],
       [0.5864887 ],
       [0.09194818],
       [0.8926759 ],
       [0.09195545],
       [0.6079464 ],
       [0.10878411],
       [0.65396893],
       [0.09578758],
       [0.6799645 ],
       [0.08419701],
       [0.8960951 ],
       [0.19569191],
       [0.1407933 ],
       [0.10539514],
       [0.68854755],
       [0.09931356],
       [0.185413  ],
       [0.1407933 ],
       [0.09197292],
       [0.31407082],
       [0.22761041],
       [0.7049363 ],
       [0.9387908 ],
       [0.78380036],
       [0.7581258 ],
       [0.1379731 ],
       [0.12625358],
       [0.7254161 ],
       [0.51610696],
       [0.767689  ],
       [0.89375484],
       [0.10490322],
       [0.91973865],
       [0.09888217],
       [0.1407933 ],
       [0.67688084],
       [0.11952785],
       [0.55118406],
       [0.16604236],
       [0.11227572],
       [0.08697006],
       [0.36522096],
       [0.47574916],
       [0.09366584],
       [0.06059316],
       [0.11226952],
       [0.1417833 ],
       [0.25981355],
       [0.6564148 ],
       [0.02422306],
       [0.3096702 ],
       [0.9254302 ],
       [0.18745372],
       [0.2471815 ],
       [0.37295064],
       [0.03495371],
       [0.4760232 ],
       [0.11953637],
       [0.4740265 ],
       [0.16208318],
       [0.95623684],
       [0.1263045 ],
       [0.03381491],
       [0.4854703 ],
       [0.03706446],
       [0.11225995],
       [0.9359853 ],
       [0.6564008 ],
       [0.37295064],
       [0.5736464 ],
       [0.7049333 ],
       [0.17289898],
       [0.8365588 ],
       [0.09192771],
       [0.17100766],
       [0.5217943 ],
       [0.40887243],
       [0.05934456],
       [0.94940615],
       [0.6644267 ],
       [0.09194225],
       [0.13964087],
       [0.08583432],
       [0.1262812 ],
       [0.02717835],
       [0.8562654 ],
       [0.8644583 ],
       [0.28600496],
       [0.71450514],
       [0.8187963 ],
       [0.23349354],
       [0.39491075],
       [0.9360621 ],
       [0.1407933 ],
       [0.9345803 ],
       [0.1762279 ],
       [0.8441384 ],
       [0.07656258],
       [0.07457548],
       [0.17609015],
       [0.1595602 ],
       [0.47398314],
       [0.11096457],
       [0.14111099],
       [0.34321404],
       [0.08419219],
       [0.71099305],
       [0.69518197],
       [0.28061444],
       [0.59619945],
       [0.7054441 ],
       [0.18648735],
       [0.35151857],
       [0.86013865],
       [0.2665317 ],
       [0.5626092 ],
       [0.6689365 ],
       [0.27351654],
       [0.9445567 ],
       [0.10878715],
       [0.08733433],
       [0.09192902],
       [0.3298503 ],
       [0.5241665 ],
       [0.18677342],
       [0.37413126],
       [0.7049428 ],
       [0.1876086 ],
       [0.8620968 ],
       [0.09195545],
       [0.8193619 ],
       [0.12331662],
       [0.85491043],
       [0.12330791],
       [0.89345384],
       [0.6228824 ],
       [0.11584833],
       [0.70493436],
       [0.06597698],
       [0.19760764],
       [0.35314626],
       [0.9480554 ],
       [0.0913668 ],
       [0.14079827],
       [0.40653893],
       [0.12719229],
       [0.22046173],
       [0.17218614],
       [0.81121945],
       [0.8801139 ],
       [0.88652515],
       [0.6723067 ],
       [0.33314902],
       [0.09195116],
       [0.05383942],
       [0.30761105],
       [0.8553219 ],
       [0.11244515],
       [0.767689  ],
       [0.60168356],
       [0.8748827 ],
       [0.12719479],
       [0.5169128 ],
       [0.11231598],
       [0.08560923],
       [0.09194225],
       [0.1407933 ],
       [0.0989047 ],
       [0.8676971 ],
       [0.12330723],
       [0.05504984],
       [0.12330994],
       [0.7830322 ],
       [0.7251314 ],
       [0.3030597 ],
       [0.09195137],
       [0.4719331 ],
       [0.09194225],
       [0.5961947 ],
       [0.13950035],
       [0.42802203],
       [0.1407933 ],
       [0.94173586],
       [0.63138926],
       [0.12628102],
       [0.8196897 ],
       [0.24627027],
       [0.13306457],
       [0.17926499],
       [0.2878235 ],
       [0.6564585 ],
       [0.15443909],
       [0.70493436],
       [0.73953044],
       [0.71852595],
       [0.07633573],
       [0.09193432],
       [0.4503504 ],
       [0.1262812 ],
       [0.09195545],
       [0.4750558 ],
       [0.70688725],
       [0.1262812 ],
       [0.20584899],
       [0.07638592],
       [0.10539877],
       [0.9090739 ],
       [0.06913647],
       [0.477931  ],
       [0.09578565],
       [0.08696318],
       [0.30117694],
       [0.1455544 ],
       [0.11229503],
       [0.70493436],
       [0.715487  ],
       [0.34613395],
       [0.20273966],
       [0.19508156],
       [0.38567463],
       [0.13530046],
       [0.1623171 ],
       [0.09194288],
       [0.653057  ],
       [0.8899139 ],
       [0.7926956 ],
       [0.2704442 ],
       [0.31009713],
       [0.10210255],
       [0.17226061],
       [0.10539514],
       [0.14837548],
       [0.25981355],
       [0.4500075 ],
       [0.91091096],
       [0.11582422],
       [0.7930856 ],
       [0.42832863],
       [0.1847764 ],
       [0.29530635],
       [0.6489573 ],
       [0.48593667],
       [0.12628102],
       [0.66581345],
       [0.10210371],
       [0.47639218],
       [0.22104892],
       [0.07658783],
       [0.2678323 ],
       [0.1262812 ],
       [0.3177291 ],
       [0.08695826],
       [0.02381781],
       [0.87864375],
       [0.06030264],
       [0.70998156],
       [0.25981355],
       [0.61574715],
       [0.27370518],
       [0.81123084],
       [0.9087379 ],
       [0.2665317 ],
       [0.32206464],
       [0.08114854],
       [0.70662975],
       [0.30932996],
       [0.709949  ],
       [0.09195092],
       [0.1407933 ],
       [0.5166163 ],
       [0.00957367],
       [0.8332617 ],
       [0.81123084],
       [0.10212597],
       [0.94226635],
       [0.2623885 ],
       [0.09388143],
       [0.66659015],
       [0.908634  ],
       [0.31067237],
       [0.23051572],
       [0.94978905],
       [0.31517386],
       [0.15645888],
       [0.7848327 ],
       [0.92303586],
       [0.5031587 ],
       [0.2952076 ],
       [0.27431273],
       [0.04862243],
       [0.1407933 ],
       [0.16012946],
       [0.59668577],
       [0.61217815],
       [0.23176205],
       [0.7574447 ],
       [0.11226708],
       [0.10475209],
       [0.1854096 ],
       [0.07213858],
       [0.5436171 ],
       [0.848401  ],
       [0.1278457 ],
       [0.14283758],
       [0.03327659],
       [0.9361925 ],
       [0.16986433],
       [0.8655114 ],
       [0.11952716],
       [0.13770309],
       [0.9327078 ],
       [0.14126337],
       [0.9573905 ],
       [0.5921503 ],
       [0.36962602],
       [0.38271564],
       [0.21813074],
       [0.30010283],
       [0.70493245],
       [0.7108854 ],
       [0.70493436],
       [0.9243864 ],
       [0.61540335],
       [0.09195545],
       [0.93391275],
       [0.07031882],
       [0.09195545],
       [0.08411586]], dtype=float32)

In [206]:
round(0.5562368)

1